.boxShadow1 {
	box-shadow: 5px 5px 5px 0px #c0c0c0;
}

.boxShadow2 {
    box-shadow: 0px 2px 5px 0px #C0C0C0;
}

.labelForPic {
	width: 11em;
    border: 2px solid rgba(191, 191, 191, 0.37);
    margin-top: -3px;
    box-shadow: 0px 2px 5px 0px #C0C0C0;
}

.choicesBar {
	background-color: rgb(255,255,255) !important;
	box-shadow: none !important;
}

.resizeChoiceIcon>
.sapMBtnDefault.sapMBtnHoverable.sapMBtnInner.sapMFocusable>
.sapMBtnCustomIcon.sapMBtnIcon.sapMImg {
	width: 1.375rem;
	max-height: 1.375rem;
}

.noBottomBorder>.sapMITBContainerContent {
	border-bottom: none !important;
}

/* Handle choices buttons refont */
.choicesBar>
.sapMBarMiddle>
.sapMBarContainer.sapMBarPH {
    margin-top: -10px;
    height: 65px;	
}

/* main choices */
.choicesBar>
.sapMBarMiddle>
.sapMBarContainer.sapMBarPH>
.sapMBarChild.sapMBtn.sapMBtnBase.mainChoices {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 33px;
    border-width: 1px;
    height: 3.75rem;
    width: 3.75rem;
    box-shadow: 0px 0px 3px 1px rgb(211,211,211);
    margin-top: 3px;
    background-color: #F8F8FF;
}

.choicesBar>
.sapMBarMiddle>
.sapMBarContainer.sapMBarPH>
.sapMBarChild.sapMBtn.sapMBtnBase.mainChoices>
.sapMBtnDefault.sapMBtnHoverable.sapMBtnInner.sapMFocusable {
    border: 0px solid rgb(221, 221, 221);
    border-radius: 48px;
    height: 3.75rem;
    width: 3.75rem;
    margin-top: -4px;
    
}

.choicesBar>
.sapMBarMiddle>
.sapMBarContainer.sapMBarPH>
.sapMBarChild.sapMBtn.sapMBtnBase.mainChoices>
.sapMBtnDefault.sapMBtnHoverable.sapMBtnInner.sapMFocusable>
.sapMBtnCustomIcon.sapMBtnIcon.sapMImg {
	margin-top: 8px;
}

/* rewind & superlike btns */
.choicesBar>
.sapMBarMiddle>
.sapMBarContainer.sapMBarPH>
.resizeChoiceIcon.sapMBarChild.sapMBtn.sapMBtnBase>
.sapMBtnDefault.sapMBtnHoverable.sapMBtnInner.sapMFocusable {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    margin-top: -5px;
    box-shadow: 0px 0px 2px 1px rgb(211,211,211);
}

.choicesBar>
.sapMBarMiddle>
.sapMBarContainer.sapMBarPH>
.resizeChoiceIcon.sapMBarChild.sapMBtn.sapMBtnBase>
.sapMBtnDefault.sapMBtnHoverable.sapMBtnInner.sapMFocusable>
.sapMBtnCustomIcon.sapMBtnIcon.sapMImg {
	margin-top: 6px;
}


/* Applicants */
.applicantImg {
	border-radius: 25px;
    height: 50px;
    width: 50px;
}

.applicantComment {
	font-family: "Calibri", Sans-Serif;
	font-size: 13px;
}

/* Restaurant */
.restaurantAverageRating {
	margin-top: -4px;
    margin-left: -3px;
}

.infosFirstSubSection>
.sapUiResponsiveMargin.sapUxAPBlockContainer.ui-helper-clearfix>
.sapUiRespGrid.sapUiRespGridHSpace1.sapUiRespGridMedia-Std-Desktop.sapUiRespGridVSpace1>
.sapUiRespGridSpanL4.sapUiRespGridSpanM6.sapUiRespGridSpanS12.sapUiRespGridSpanXL3,
.usersFirstSubSection>
.sapUiResponsiveMargin.sapUxAPBlockContainer.ui-helper-clearfix>
.sapUiRespGrid.sapUiRespGridHSpace1.sapUiRespGridMedia-Std-Desktop.sapUiRespGridVSpace1>
.sapUiRespGridSpanL4.sapUiRespGridSpanM6.sapUiRespGridSpanS12.sapUiRespGridSpanXL3 {
	width: 100%;
}

.infosFirstSubSection {
    margin-top: 10px;
}


/* Let's Lunch */
.resizeCardImg {
    width: 10rem;
    height: 11rem;
}


/* Let's Lunch 2 with calendar */
.calendarLayout, .calendarLayout>.sapMFlexItem {
    width: 100%;
}
.sapUxAPObjectPageHeaderContent.sapUxAPObjectPageHeaderContentDesign-Light.ui-helper-clearfix {
    padding-right: 1rem;
}


/* Request Status */
.StatusInProgress, 
.StatusRejected,
.StatusForApproval,
.StatusApproved{
    padding-top: 6px;
    padding-bottom: 6px;
}

.StatusInProgress .sapMObjStatusText, 
.StatusRejected .sapMObjStatusText,
.StatusForApproval .sapMObjStatusText,
.StatusApproved .sapMObjStatusText{
    color: white !important;
    border-radius: 14px;
    padding : 6px;
    box-shadow: -2px 3px 2px 0px rgb(211,211,211);
}

.StatusInProgress .sapMObjStatusText{
    background-color: #22A0D5;
}

.StatusRejected .sapMObjStatusText{
    background-color: #D52222;
}

.StatusForApproval .sapMObjStatusText{
    background-color: #E86A26;
}

.StatusApproved .sapMObjStatusText{
    background-color: #28D61F;
}

.objectStatus {
    height: 100%;
}

.sapMObjLStatusDiv {
    height: 25px;
    /*margin-top: 21px;*/
}

.lunchmeetsAuthorLabel>.sapMText {
    font-size: 0.775rem !important;
    font-style: italic;
}

/*.sapMText {
    font-family: "Calibri", Sans-Serif;
}*/

.sapMLIBActive span {
    box-shadow: 0px 0px !important;
    position: relative;
    top: 2px;
    left: -2px;
}

.LunchMeetListItem>
.sapMLIBContent>
.sapMObjLTopRow>
.sapMObjLIconDiv>
.sapMImg {
    border-radius: 25px;
    width: 3rem!important;
    height: 3rem!important;
}

.lunchmeetsDate {
    position: relative;
    top: -26px;
    left: 62px;
}


/* MDL - Floating Action Button */
/*.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}*/
.mdl-button {
    background-color: #b0120a!important;
    float: right;
    position: absolute !important;
    bottom: 0;
    right: 0;
    margin-right: 18px !important;
    margin-bottom: 18px !important;
}
